body {
  margin: 5% 30%;
  padding: 10px 5px;
  text-align: center;
}

.mainBody {
  border: 1px solid black;
  border-radius: 10px;
}

.search-line {
  margin: 10px 30px;
}

.current-location {
  margin-top: 10px;
}

.city {
  font-size: 45px;
  margin-top: 15px;
}

#weather-icon {
  max-width: 15%;
  margin-top: 10px;
}
.tempValues {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: -10px;
}

#current-date {
  position: relative;
}

ul {
  margin-top: -15px;
}

li {
  list-style: none;
  text-align: left;
  position: relative;
  left: 30px;
}

#current-time,
#weather-description {
  font-size: 13px;
}

.day {
  font-size: 13px;
  line-height: -2px;
}

.additional {
  font-size: 13px;
  color: #a9a6b3;
}

.weather-forecast {
  text-align: center;
  font-size: 17px;
  line-height: 40px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-max {
  font-weight: bold;
}

.weather-forecast-temperature-min {
  color: #a9a6b3;
}

.lastNote {
  margin-top: 10px;
  font-family: monospace;
}
